body{
    background-color:  hsl(0, 0%, 8%);
    font-family: Inter;
}
h2,p,h4{
    color:hsl(0, 0%, 100%);
    font-size: 14px;
}
h4{
    font-weight: 400;
}


.card{
    background-color: hsl(0, 0%, 12%);
    padding: 15px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    border-radius: 20px; 
}

.name{
    
    font-size: 20px;
    font-family:Inter-SemiBold;
    font-weight: 700;
}

.image{
    border-radius: 100%;
}

p{
    color:hsl(75, 94%, 57%);
    font-weight:600 ;
}
.links{
    background-color: hsl(0, 0%, 20%) ;
    color:hsl(0, 0%, 100%);
    padding: 15px;
   border-radius: 10px;
    text-decoration: none;
}
.links:hover{
    background-color:hsl(75, 94%, 57%) ;
    color:hsl(0, 0%, 8%);
}
.link-container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.container{
    display: flex;
    justify-content: center;
    padding: 20px;
}


.attribution { font-size: 11px; text-align: center;color: #fff; }
.attribution a { color: hsl(228, 45%, 44%); }

/*
media query for responsive 
*/
@media(min-width:375px){
    .card{
        width: 90%; /*for mobile*/
    }
}

@media(min-width:1440px){
    .card{
        width: 30%; /*for larger screens*/
    }
}